@{
    ViewBag.Title = "QCC Configuration";
}

<div class="jumbotron">
    <h2>Quorum Control Centre - Configuration</h2>
</div>

<div id="cfgBindingSection" style="display: none;">
    <div class="row">
        <div class="col-xs-3">Communications transport type</div>
        <div class="col-xs-9">
            <input type="radio" name="transportGroup" value="http" data-bind="checked: transportType" /> Http
            <input type="radio" name="transportGroup" value="https" data-bind="checked: transportType" /> Https
            <input type="radio" name="transportGroup" value="tcp" data-bind="checked: transportType" /> Tcp
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-xs-3">Quorum members (machine names, separated by commas)</div>
        <div class="col-xs-9"><input id="members" data-bind="textInput: members" type="text" style='min-width: 100%' maxlength="255" /></div>
    </div>
    <div class="row" id="scanDiv">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><button id="scanLite" class="btn-primary">Shallow scan</button>&nbsp;Scan the network and insert discovered machine names into the quorum member text box</div>
    </div>
    <div class="row" id="scanWorking" style="display: none;">
        <div class="col-xs-3"></div>
        <div class="col-xs-4">Probing network now...<img src="~/Content/Images/ajax-loader.gif" /></div>
    </div>
    <div class="row" data-bind="visible: membersInvalid">
        <div class="col-xs-6" style="color:red;">You must specify at least one quorum member</div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-xs-3">Quorum port</div>
        <div class="col-xs-3"><input id="port" data-bind="textInput: port" type="text" maxlength="5" /></div>
    </div>
    <div class="row" data-bind="visible: portInvalid">
        <div class="col-xs-6" style="color:red;">Port must be between <span data-bind="text: limits.minPort"></span> and <span data-bind="text: limits.maxPort"></span></div>
    </div>
    <div class="row" id="secureWarning" data-bind="visible: transportType() == 'https'">
        <div class="col-xs-8"><strong><br/><span style="color: red;">Note:</span>To use secure quorum communications, please read the <a target="_blank" href="https://github.com/afgbeveridge/Quorum/wiki/Configuring-SSL-for-use">Quorum SSL wiki</a> carefully</strong></div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-xs-3">Response timeout (milliseconds)</div>
        <div class="col-xs-3"><input id="responseLimit" data-bind="textInput: responseLimit" type="text" maxlength="8" /></div>
    </div>
    <div class="row" data-bind="visible: responseLimitInvalid">
        <div class="col-xs-6" style="color:red;">Response limit must be between <span data-bind="text: limits.minResponseLimit"></span> and <span data-bind="text: limits.maxResponseLimit"></span></div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-xs-8">
            <button data-bind="enable: isValid" id="save" class="btn-primary">Save</button>&nbsp;<button id="cancel" class="btn-primary">Cancel</button>
            <span id="savedMessage" style="display: none;">Configuration saved...</span>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/qccconfiguration")
}