@{
    ViewBag.Title = "QCC Configuration";
}

@Html.Partial("_JumbotronHeader", new { Purpose = "Configuration", GatedPage = false }.ToExpando())

<div id="cfgBindingSection" style="display: none;">
    <div class="row">
        <div class="col-xs-3">Communications transport type</div>
        <div class="col-xs-9">
            <input type="radio" name="transportGroup" value="http" data-bind="checked: transportType" /> Http
            <input type="radio" name="transportGroup" value="https" data-bind="checked: transportType" /> Https
            <input type="radio" name="transportGroup" value="tcp" data-bind="checked: transportType" /> Tcp
            <input type="radio" name="transportGroup" value="tcps" data-bind="checked: transportType" /> Tcps
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-xs-3">Quorum members (machine names, separated by commas)</div>
        <div class="col-xs-9"><input id="members" data-bind="textInput: members" type="text" style='min-width: 100%' maxlength="255" /></div>
    </div>
    <div class="row" id="scanDiv">
        <div class="col-xs-3"></div>
        <div class="col-xs-9"><button id="scanLite" class="btn-primary">Shallow scan</button>&nbsp;Scan the network and insert discovered machine names into the quorum member text box</div>
    </div>
    <div class="row" id="scanWorking" style="display: none;">
        <div class="col-xs-3"></div>
        <div class="col-xs-4">Probing network now...<img src="~/Content/Images/ajax-loader.gif" /></div>
    </div>
    <div class="row" data-bind="visible: membersInvalid">
        <div class="col-xs-6" style="color:red;">Specify at least one quorum member or multiple separated by comma's</div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-xs-3">Quorum port</div>
        <div class="col-xs-3"><input id="port" data-bind="textInput: port" type="text" maxlength="5" /></div>
    </div>
    <div class="row" data-bind="visible: portInvalid">
        <div class="col-xs-6" style="color:red;">Port must be between <span data-bind="text: limits.minPort"></span> and <span data-bind="text: limits.maxPort"></span></div>
    </div>
    <div class="row" id="secureWarning" data-bind="visible: transportType().indexOf('s') > 0">
        <div class="col-xs-8"><strong><br /><span style="color: red;">Note:</span>To use secure quorum communications, please read the <a target="_blank" href="https://github.com/afgbeveridge/Quorum/wiki/Configuring-SSL-for-use">Quorum SSL wiki</a> carefully</strong></div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-xs-3">Response timeout (milliseconds)</div>
        <div class="col-xs-3"><input id="responseLimit" data-bind="textInput: responseLimit" type="text" maxlength="8" /></div>
    </div>
    <div class="row" data-bind="visible: responseLimitInvalid">
        <div class="col-xs-6" style="color:red;">Response limit must be between <span data-bind="text: limits.minResponseLimit"></span> and <span data-bind="text: limits.maxResponseLimit"></span></div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-xs-3">
            <button data-bind="enable: isValid" id="save" class="btn-primary">Save</button>&nbsp;<button id="cancel" class="btn-primary">Cancel</button>
        </div>
        <div class="col-xs-3">
            <button data-bind="enable: isValid" id="analyze" class="btn-primary">Analyze</button>
        </div>
        <div class="col-xs-6 pull-right">
            Configuration:&nbsp;<button data-bind="enable: isValid" id="export" class="btn-primary">Export</button>&nbsp;<button id="import" class="btn-primary">Import</button>
        </div>
    </div>
    <p></p>
    <div class="row" data-bind="visible: analysisIssues" style="color: red;">
        <div class="col-xs-8">
            Warning: Detected that the quorum is unstable - different protocols in use.
        </div>
    </div>
    <p></p>
    <div class="row" id="analysisResults" style="display: none;">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Contacted?</th>
                        <th>Protocol</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: targets">
                    <tr>
                        <td data-bind="text: name"></td>
                        <td data-bind="visible: !querying(), text: contacted"></td>
                        <td data-bind="visible: querying"><img src="~/Content/Images/ajax-loader.gif" /></td>
                        <td data-bind="visible: !querying(), text: protocol"></td>
                        <td data-bind="visible: querying"><img src="~/Content/Images/ajax-loader.gif" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12">
            <button id="hideAnalysis" class="btn-primary">Hide analysis</button>
        </div>
    </div>
    <div class="row" id="importExport" style="display: none;">
        <div class="col-xs-12 importMode" style="display: none;">
            Paste a valid Quorum JSON configuration object here, and press import to apply changes.
        </div>
        <div class="col-xs-12 exportMode" style="display: none;">
            Below is a valid Quorum JSON configuration object - this can be transferred to other workstations using the QCC.
        </div>
        <div class="col-xs-12">
            <textarea id="configurationDocument" style="min-width: 90%;" rows="10"></textarea>
        </div>
        <p></p>
        <div class="col-xs-6 importMode">
            <button id="importConfiguration" class="btn-primary">Import</button>
        </div>
        <div class="col-xs-6">
            <button id="hideImportExportSection" class="btn-primary">Hide this section</button>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/qccconfiguration")
    @Scripts.Render("~/Scripts/toastr.js")
}
