@{
    ViewBag.Title = "QCC Logging";
}

@Html.Partial("_JumbotronHeader", new { Purpose = "Logging", GatedPage = true }.ToExpando())

<div id="wrongTransport" style="display: none;">
    <h2>Logging support is only provided when the quorum transport is either http or https</h2>
</div>

<div id="bindingSection" style="display: none;">
    <div class="row">
        <div class="col-xs-12"><span data-bind="html: 'Active transport:<strong>' + config.transportType + '</strong>'"></span><span data-bind="visible: insecure" class="text-danger">&nbsp;(Warning: You should view real time logs over a secure connection)</span></div>
    </div>
    <p></p>
    <div class="row">
        <div class="col-xs-7"><strong>Quorum members - click a node to start/stop log capture</strong></div>
    </div>
    <p></p>
    <div style='width:100%'>
        <ul id="nodeList" class="quorumMember" data-bind="foreach: nodes">
            <li style='display:inline;width: 100%;' data-bind="click: click, css: nodeOpacity"><img data-bind="attr: { src: applicableImage }" height='32' width='32' /><span data-bind="text: $data.name"></span></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-xs-6">Maximum rows to retain <input data-bind="textInput: maxEntries" type="text" maxlength="4" /></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:20%;">Node</th>
                        <th style="width:30%;">When</th>
                        <th style="width:10%;">Level</th>
                        <th style="width:40%;">Message</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: entries">
                    <tr>
                        <td data-bind="text: $data.Node"></td>
                        <td data-bind="text: $data.When"></td>
                        <td data-bind="text: $data.Level"></td>
                        <td data-bind="text: $data.Message"></td>
                    </tr>
            </table>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/qcc-logging")
}
