<div class="jumbotron">
    <h2>Quorum Control Centre - @Model.Purpose</h2>
    @if (Model.GatedPage) {
    <h4 id="bootWait">Checking quorum state...<img src="~/Content/Images/ajax-loader.gif" /></h4>
    }
</div>