@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Quorum Control Centre - Network view</h2>
</div>

<div id="monitorSection" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-xs-2"><span data-bind="html: 'Active transport:<strong>' + transport + '</strong>'"></span></div>
            <div class="col-xs-3">Poll period:&nbsp;<input type="text" maxlength="8" data-bind="textinput: gatedDiscoPeriod" /></div>
            <div class="col-xs-2"><span data-bind="text: 'Queries:' + queries()"></span>&nbsp;<img data-bind="visible: querying" src="~/Content/Images/ajax-loader.gif" /></div>
            <div class="col-xs-3"><span data-bind="text: 'Quorum viable:' + (viable() ? 'Yes' : 'No')"></span></div>
            <div class="col-xs-2 pull-right"><button id="stopStart" class="btn-primary" data-bind="visible: communicationsErrors().length > 0, click: showHideCommsErrors">Errors</button>&nbsp;<button id="stopStart" class="btn-primary" data-bind="text: timer() ? 'Stop' : 'Start', click: stopOrStart, css: timer() ? 'btn-danger' : 'btn-success'"></button></div>
        </div>
        <div class="row" id="invalidPollPeriod" style="color: red; display: none;">
            <div class="col-xs-2"></div>
            <div class="col-xs-6">Poll period cannot be less than configured timeout of <span data-bind="text: baseTimeout"></span> milliseconds</div>
        </div>
        <div id="generalErrors" class="row" style="display: none; color: red; background-color: antiquewhite; font-weight: bold;">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:25%;">Date/Time</th>
                        <th style="width:30%;">Status</th>
                        <th style="width:30%;">Error text</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: communicationsErrors">
                    <tr>
                        <td  data-bind="text: $data.formattedDate"></td>
                        <td data-bind="text: $data.status"></td>
                        <td data-bind="text: $data.error"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p></p>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width:5%;">State</th>
                        <th style="width:15%;">Name</th>
                        <th style="width:6%;">Port</th>
                        <th style="width:19%;">Last contact</th>
                        <th style="width:5%;">Alive?</th>
                        <th style="width:5%;">Master?</th>
                        <th style="width:10%;">Strength</th>
                        <th style="width:15%;">Up time</th>
                        <th style="width:10%;">Actions</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: members">
                    <tr>
                        <td><img data-bind="attr: { src: stateIcon }" /></td>
                        <td data-bind="text: $data.name"></td>
                        <td data-bind="text: $data.port"></td>
                        <td data-bind="text: $data.lastContact"></td>
                        <td data-bind="text: $data.alive"></td>
                        <td data-bind="text: $data.IsMaster"></td>
                        <td data-bind="text: $data.Strength"></td>
                        <td data-bind="text: $data.formattedTime()"></td>
                        <td>
                            <!-- ko if: InEligibleForElection() === false -->
                            <a href="#" data-bind="click: kill">Make ineligible</a>
                            <!-- /ko -->
                            <!-- ko if: InEligibleForElection() === true -->
                            <a href="#" data-bind="click: elect">Make eligible</a>
                            <!-- /ko -->
                            <br />
                            <!-- ko if: showingHardwareDetails -->
                            <a href="#" data-bind="click: toggleDetail">Hide detail</a>
                            <!-- /ko -->
                            <!-- ko if: !showingHardwareDetails() && alive() === 'Yes' -->
                            <a href="#" data-bind="click: toggleDetail">Show detail</a>
                            <!-- /ko -->
                            <br />
                            <!-- ko if: showingEventHistory -->
                            <a href="#" data-bind="click: toggleEventHistory">Hide history</a>
                            <!-- /ko -->
                            <!-- ko if: !showingEventHistory() && alive() === 'Yes' -->
                            <a href="#" data-bind="click: toggleEventHistory">Show history</a>
                            <!-- /ko -->
                        </td>
                    </tr>
                    <tr data-bind="visible: $data.showingHardwareDetails" style="background-color: yellow;">
                        <td colspan="9">
                            <div class="row">
                                <div class="col-xs-2"><em>Failed requests</em>: <span data-bind="text: $data.failedRequests"></span></div>
                                <div class="col-xs-2"><em>Completed requests</em>: <span data-bind="text: $data.successfulRequests"></span></div>
                                <div class="col-xs-2"><em>Min response ms</em>: <span data-bind="text: $data.minimumResponseTime"></span></div>
                                <div class="col-xs-2"><em>Max response ms</em>: <span data-bind="text: $data.maximumResponseTime"></span></div>
                                <div class="col-xs-2"><em>Avg response ms</em>: <span data-bind="text: $data.averageResponseTime().toFixed(1)"></span></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2"><em>Physical memory</em>: <span data-bind="text: $data.Hardware.PhysicalMemory"></span></div>
                                <div class="col-xs-2"><em>CPU Manufacturer</em>: <span data-bind="text: $data.Hardware.CPUManufacturer"></span></div>
                                <div class="col-xs-2"><em>CPU Speed (GHz)</em>: <span data-bind="text: $data.Hardware.CPUSpeed"></span></div>
                                <div class="col-xs-6"><em>OS</em>: <span data-bind="text: $data.Hardware.OS"></span></div>
                            </div>
                        </td>
                    </tr>
                    <tr data-bind="visible: $data.showingEventHistory" style="background-color: yellow;">
                        <td colspan="9">
                            <div class="row">
                                <div class="col-xs-4" style='color: blue;' data-bind="text: 'Work units executed: ' + ($data.WorkUnitsExecuted ? $data.WorkUnitsExecuted() : 'Unknown')"></div>
                            </div>
                            <!-- ko if: alive() === 'Yes' && PendingEvents().length > 0 -->
                            <div class="row">
                                <div class="col-xs-12 text-center">Pending events</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4"><strong>Name</strong></div>
                                <div class="col-xs-4"><strong>Created on</strong></div>
                                <div class="col-xs-4"><strong>Age</strong></div>
                            </div>
                            <div data-bind="foreach: PendingEvents">
                                <div class="row">
                                    <div class="col-xs-4" data-bind="text: $data.name"></div>
                                    <div class="col-xs-4" data-bind="text: $data.prettyDate"></div>
                                    <div class="col-xs-4" data-bind="text: $data.age"></div>
                                </div>
                            </div>
                            <!-- /ko -->
                            <div class="row">
                                <div class="col-xs-12 text-center">Event statistics</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4"><strong>Name</strong></div>
                                <div class="col-xs-4"><strong>Occurrences</strong></div>
                                <div class="col-xs-4"><strong>Handled?</strong></div>
                            </div>
                            <div data-bind="foreach: HandledEvents">
                                <div class="row">
                                    <div class="col-xs-4" data-bind="text: $data.Name"></div>
                                    <div class="col-xs-4" data-bind="text: $data.Occurrences"></div>
                                    <div class="col-xs-4" data-bind="text: $data.Processed"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/qccmonitor")
}
