@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Quorum Control Centre - Network view</h2>
</div>

<div id="monitorSection">
    <div class="row">
        <div class="cols-sm-2">Poll period:&nbsp;<input type="text" maxlength="8" data-bind="textinput: responseLimit" /></div>
    </div>
    <p></p>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Port</th>
                    <th>Last contact</th>
                    <th>Alive?</th>
                    <th>Master?</th>
                    <th>Up time</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: members">
                <tr>
                    <td data-bind="text: $data.name"></td>
                    <td data-bind="text: $data.port"></td>
                    <td data-bind="text: $data.lastContact"></td>
                    <td data-bind="text: $data.alive"></td>
                    <td data-bind="text: $data.isMaster"></td>
                    <td data-bind="text: $data.upTime"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/qccmonitor")
}
