<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key ="quorum.environment" value="tony-old-PC,Tony-PC"/>
    <add key ="quorum.listenerPort" value="9999"/>
    <add key ="quorum.minimalLogLevel" value="Debug"/>
  </appSettings>
</configuration>